* {
  margin: 0;
  padding: 0;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.player2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.hide {
  display: none;
}
.body {
  background-image: url(/img/uno.jpg);
  background-repeat: no-repeat;
}
